# GitPython - Package used for cloning Git(Hub) repositories
gitpython
# Bit Array - Package used for "work list" in Lee's algorithm
bitarray
# Fastlog uses the "curses" package, which is part of stdlib on Linux, but not on Windows
windows-curses; platform_system == 'Windows'
# Used for better-looking logging
fastlog
