# Interface for working with Git repositories
gitpython
# "Work list" binary table in Lee's algorithm (Iodine)
bitstring
# Fastlog uses the "curses" package, which is part of stdlib on Linux, but not on Windows
windows-curses; platform_system == 'Windows'
# Prettier, uniform log messages
fastlog
# Web UI back-end
flask
# Web UI database
easy-postgres
# Unit test framework
pytest
